@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
svg {
	margin: 10px auto;
	display: block;
	border: 1px solid #000000;
	background: #9c9c9c;
}
#statewise {
	height: 500px;
	width: 600px;
	border: 1px solid black;
}
#state {
	margin-top: 5%;
}
body {
	text-align: center;
	font-family: 'Alata', sans-serif;
}
.tick line {
	stroke: #ccc;
	stroke-dasharray: 5, 5;
}
